.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    margin-right: 10px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

/* iframe 样式设置 */
iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

/* 去掉刷新是左侧文字的动画效果 */
a {
    transition: none !important;
}